@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900");

::-webkit-scrollbar {
  display: none !important;
}

.mobile-version {
  display: none;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Montserrat", serif;
}

header {
  background-color: #004aad;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
}

.navbar-name {
  width: 25%;
}

.navbar-name h1 {
  margin: 0;
  background-color: #00377f;
  padding: 35.1px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-family: "Montserrat", serif;
}

.navbar-name a {
  color: #fff;
  text-decoration: none;
}

.navbar-subtitle {
  width: 50%;
  margin: 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-family: "Montserrat", serif;
  font-size: 40px;
}

.btn-switcher {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;
  width: 120px;
  height: 40px;
  padding: 10px;
  margin: 8px;
  background-color: #fff;
  color: #004aad;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Montserrat", serif;
  user-select: none;
}

.btn-switcher img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  position: absolute;
}

#city-logo {
  transform: translateY(0);
  transition: transform 0.3s ease;
}

#colony-logo {
  transform: translateY(-30px);
  transition: transform 0.3s ease;
}

#shift-clock {
  transition: transform 0.3s ease;
}

.city {
  position: absolute;
  transform: translateY(0px);
  transition: transform 0.3s ease;
  right: 20.3vw;
}

.colony {
  position: absolute;
  transform: translateY(-30px);
  transition: transform 0.3s ease;
  right: 20vw;
}

.morning {
  position: absolute;
  transform: translateY(0px);
  transition: transform 0.3s ease;
  right: 13vw;
}

.afternoon {
  position: absolute;
  transform: translateY(-30px);
  transition: transform 0.3s ease;
  right: 13.5vw;
}

#codeFormContainer {
  position: fixed;
  width: 100%;
}

.form-container {
  display: flex;
  background: #005fdb;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

#codeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #004aad;
  width: 16vw;
  padding: 12%;
  border-radius: 20px;
  color: #fff;
  box-shadow: 0 0px 10px rgba(255, 255, 255, 0.9);
}

#codeForm input {
  margin: 10px 0;
  padding: 5px;
  font-size: 16px;
  text-align: center;
}

input:focus-visible {
  outline: none;
}

#codeForm button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#adminContent {
  display: none;
}

#message {
  color: red;
  margin-top: 10px;
}

.sliding a {
  display: none;
  position: fixed;
  background: white;
  padding: 4%;
  bottom: 6vh;
  right: 8vw;
  border: 4px solid #004aad;
  border-radius: 30%;
  font-weight: 900;
  color: #004aad;
  text-decoration: none;
}

.add-button-box {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.add-new-passenger {
  background-color: #00377f;
  color: white;
  padding: 2vh 3vw;
  margin: 4vh 0;
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.add-new-passenger:hover {
  background-color: #005fdb;
}

form {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="submit"] {
  background-color: #fff;
  color: #000000;
  padding: 1.5vh 4vw;
  margin-top: 4vh;
  border: 1px solid #fff;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 800;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #005213;
  border: 1px solid #fff;
  color: #fff;
}

.add-panel {
  display: flex;
  justify-content: center;
  margin: 8vh 0;
}

.add-passenger-panel {
  background-color: #004aad;
  width: 36%;
  height: auto;
  display: flex;
  gap: 25px;
  padding: 4vh 5vw;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
  color: #fff;
}

#middle-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#location-input {
  display: flex;
  align-items: center;
}

.locations {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.locations label {
  background-color: #fff;
  color: #000000;
  cursor: pointer;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  border: 1px solid #fff;
}

.locations label > input[type="checkbox"] {
  display: none;
}

.locations label:has(input[type="checkbox"]:checked) {
  background-color: #00377f;
  border: 1px solid #fff;
  color: white;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.input-field input {
  width: 96%;
  padding: 10px;
  margin-bottom: 10px;
}

.input-field select {
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  text-align: center;
  cursor: pointer;
}

.passenger-list {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.top-section {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 99.98%;
}

.months {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 75%;
  height: 11.5vh;
  background-color: rgba(0, 0, 0, 0.15);
}

.month {
  width: 100%;
  height: 99.9%;
  text-align: center;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.passengers {
  width: 100%;
  text-align: center;
}

.passenger-title {
  background-color: rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 22.85%;
  text-align: center;
}

.container-pass {
  display: flex;
  flex-direction: row;
  width: 99.9%;
}

.passenger {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 30.5%;
}

.passenger-payout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
}

.month-payment {
  width: 100%;
  height: 99.2%;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.month-payment:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .pc-version .location-switch {
    display: none;
  }

  .pc-version .shift-switch {
    display: none;
  }

  .pc-version .months {
    display: none;
  }

  .passenger-title {
    display: none;
  }

  .mobile-version {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-version .location-switch {
    display: flex;
  }

  .mobile-version .shift-switch {
    display: flex;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .navbar-name {
    width: 100%;
  }

  .navbar-name h1 {
    background-color: transparent;
    padding: 1vh 0;
    font-size: 20px;
    border-bottom: 2px solid #fff;
  }

  .navbar-subtitle {
    padding: 2vh 0;
    width: auto;
  }

  .navbar-subtitle span {
    font-size: xx-large;
  }

  #codeForm {
    width: 70%;
  }

  .sliding a {
    display: block;
  }

  .add-button-box {
    padding-top: 15vh;
  }

  .passenger-panel {
    width: 100%;
  }

  .selectors {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 10px 0;
  }

  .selectors div {
    width: 85%;
    text-align: center;
  }

  .month-slider {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .month-slider button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #007bff;
  }

  .month-slider button:hover {
    color: #0056b3;
  }

  .month-slider span {
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    width: 150px;
    text-align: center;
  }
  .location-switch {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .location-switch button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #007bff;
  }

  .location-switch button:hover {
    color: #0056b3;
  }

  .location-switch span {
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    width: 150px;
    text-align: center;
  }

  .shift-switch {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .shift-switch button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #007bff;
  }

  .shift-switch button:hover {
    color: #0056b3;
  }

  .shift-switch span {
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    width: 150px;
    text-align: center;
  }

  .container-pass {
    flex-direction: column;
    align-items: center;
    margin: 4vh 0;
    height: 22vh;
    overflow: hidden;
    border: 1px solid darkgrey;
  }

  .passenger {
    width: 95%;
  }

  .passenger-payout {
    display: flex;
    flex-direction: column;
  }

  .month-payment {
    width: 100%;
    height: 12vh;
    display: none;
  }

  .month-payment.active {
    display: flex;
  }

  .passenger-list {
    width: 100%;
    align-items: center;
    margin: 4vh 0;
    box-shadow: none;
  }

  .passenger-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: lightgray;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    padding: 2vh 0;
  }

  .passenger-name h3 {
    margin: 1vh 0;
  }

  .add-passenger-panel {
    width: 90%;
    border-radius: 0;
  }

  .input-field input {
    width: 96%;
  }
}
